@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Provider IT</h1>
</div>
<div class="row">
    <div class="col-md-8">
        <h2>Prova Prática usando Asp.Net Core MVC</h2>
        <p>
            O Projeto foi desenvolvido usando o Entity Framework Core em uma
            aplicação ASP.NET Core MVC web application.
        </p>
    </div>
</div>