@model ProviderITProvaPratica.Models.Turma

@{
    ViewData["Title"] = "Editar";
}

<h2>Editar</h2>

<h4>Turma</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TurmaID" />
            <div class="form-group">
                <label asp-for="CodigoTurma" class="control-label"></label>
                <input asp-for="CodigoTurma" class="form-control" />
                <span asp-validation-for="CodigoTurma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Curso" class="control-label"></label>
                <input asp-for="Curso" class="form-control" />
                <span asp-validation-for="Curso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Periodo" class="control-label"></label>
                <input asp-for="Periodo" class="form-control" />
                <span asp-validation-for="Periodo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisciplinaID" class="control-label"></label>
                <select asp-for="DisciplinaID" class="form-control" asp-items="ViewBag.DisciplinaNome"></select>
                <span asp-validation-for="DisciplinaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlunoID" class="control-label"></label>
                <select asp-for="AlunoID" class="form-control" asp-items="ViewBag.AlunoNome"></select>
                <span asp-validation-for="AlunoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataCriacao" class="control-label"></label>
                <input asp-for="DataCriacao" class="form-control" />
                <span asp-validation-for="DataCriacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retorna</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
