@model ProviderITProvaPratica.Models.Disciplina

@{
    ViewData["Title"] = "Editar";
}

<h2>Editar</h2>

<h4>Disciplina</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DisciplinaID" />
            <div class="form-group">
                <label asp-for="NomeDisciplina" class="control-label"></label>
                <input asp-for="NomeDisciplina" class="form-control" />
                <span asp-validation-for="NomeDisciplina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataCriacao" class="control-label"></label>
                <input asp-for="DataCriacao" class="form-control" />
                <span asp-validation-for="DataCriacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoDisciplina" class="control-label"></label>
                <input asp-for="CodigoDisciplina" class="form-control" />
                <span asp-validation-for="CodigoDisciplina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retorna</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
